/* 
body {
  margin: 0;
}
main {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto 100px;
}
section {
  height: 100%;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
}

/* .rcorners1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #e3e3e3;
  padding: 80px;
  width: 25%;
  height: 25%;
  margin-left: auto;
  margin-right: auto; 
} */

.page {
  height: 300px;
}

/* Home Page */
.home-page {
  width: 60%;
  height: 66vh;
  border-radius: 25px;
  margin: auto;
  border: solid 2.5px black;
  background-image: url("./assets/pexels-michael-tuszynski-2157401.jpg");
  background-color: #e3e3e3;
  background-position: top;
  background-repeat: repeat-y;
  position: relative;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.task-desc p {
  margin: 15px 0 10px 0;
}

.home-page::-webkit-scrollbar {
  display: none;
}

.searchbar-row {
  background-color: white;
  height: 100px;
  border-radius: 0.25rem;
  padding-top: 20px;
  justify-content: space-around;
  text-align: center;
}

input,
select {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  padding-left: 25px;
}

input:hover,
select:hover {
  border: 1px solid #ced4da;
}

.zipcode-search {
  background-color: black;
  text-align: center;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 75%;
  height: 60px;
}
.zipcode-search:hover,
.zipcode-search:active,
.zipcode-search:focus {
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 75%;
  height: 60px;
}

.search-bar {
  position: fixed;
  width: 50%;
  top: 15%;
  right: 25%;
  z-index: 1;
}

.zipcode-input {
  width: 75%;
  justify-self: center;
  margin: 0 auto;
  height: 60px;
}

.task-cards {
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide-desc > .card-body > .task-desc {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.show-desc > .card-body > .task-desc {
  max-height: 200px;
  transition: max-height 0.5s ease-in;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: end;
}

.task-desc::-webkit-scrollbar {
  display: none;
}

.claim-task {
  width: 25%;
  color: white;
  background-color: black;
  border: solid 1px black;
}

.claim-task:hover,
.claim-task:active,
.claim-task:focus {
  background-color: white;
  color: black;
  border: solid 1px black;
}

/* .category-select {
  width: 25%;
  margin-right: 5%;
}

.zipcode-search {
  margin: auto;
} */

/* Card Row */

.card-row {
  position: relative;
  top: 30%;
  width: 80%;
  margin: 0 auto;
}

.displayed-task {
  background-color: white;
  border-radius: 0.25rem;
  padding: 15px;
  margin-bottom: 15px;
  z-index: 0;
  box-sizing: content-box;
  height: 175px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-placeholder {
  width: 80px;
  height: 80px;
  max-width: 15%;
  max-height: 95%;
  aspect-ratio: 1/1;
  background-image: url("./assets/vacuum-cleaner.png");
  background-size: contain;
  background-color: #ced4da;
}

.attribution-link {
  font-size: x-small;
}

.card-titles {
  width: 75%;
  margin-left: 5%;
}

.task-date {
  color: #ced4da;
  padding-top: 0;
}

.task-title,
.task-date,
.task-subtitle {
  display: inline-block;
  text-align: left;
  height: inherit;
}

.displayed-task::-webkit-scrollbar {
  display: none;
}

.profile-card {
  background-color: #e3e3e3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
  align-items: center;
  border-radius: 0.25rem;
  margin-bottom: 25px;
}

.profile-card h2 {
  margin-top: 10px;
  text-align: center;
}

.profile-card h3 {
  color: #9ba1a7;
  font-style: italic;
  font-size: 1.25rem;
  text-align: center;
}
.dylan-img {
  width: 80%;
  margin: 0 auto;
  max-width: 450px;
  height: auto;
  border-radius: 0.5rem;
}

.single-card {
  display: none;
}

.created-desc {
  border-right: solid 1px #282c34;
}

.claimed-col {
  text-align: center;
}

/* .card-row {
  position: relative;
  top: 25%;
  overflow-y: scroll;
} */

/* .content {
  position: absolute;
  width: 100%;
  height: 100%;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(1, 20, 25);
  color: white;
  text-align: center;
}
/* 
section {
  height: 100%;
} */

.sbInput {
  z-index: 50;
  border: 1px solid rgb(204, 230, 248);
  width: 100%;
}

/* .searchBar {
  height: 100%;
} */

/* .bgImageHome {
  background-image: url(./pages/backgroundhome.jpg);
  height: 100%;
} */

/* .searchButton {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .hide-desc {
  height: 50px;
  overflow: hidden;
  transition: height 0.5s ease-in;
}

.show-desc {
  height: auto;
  transition: height 0.5s ease-in;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;700&display=swap");

@media screen and (max-width: 768px) {
  .home-page {
    width: 70%;
  }
}
